/* Base styles */
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #20262e;
  background-color: #28b1de;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 2rem;
}

/* Container */
.container {
  background-color: #20262e;
  color: #fff;
  border-radius: 10px;
  overflow: hidden; /* Consider removing if you want the overflow to be visible */
  width: 100%;
  max-width: 95%; /* Adjusted from 800px to be more responsive */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 2rem; /* Adds margin around the container */
}

/* Title */
h1 {
  text-align: center;
  font-size: 3rem;
  color: rgba(255, 255, 255, .8);
  text-transform: uppercase;
  line-height: 1.375;
  margin-bottom: 2.4rem;
  letter-spacing: 1px;
}

/* Table */
table {
  width: auto; /* Allows the table to be as wide as its content */
  margin: 0 auto;
  background-color: #20262e;
  border-collapse: collapse; /* Collapse borders for a cleaner look */
}

table tr:nth-child(even) {
  background-color: rgb(46, 53, 62);
}

table th,
table td:before {
  color: #28b1de;
}

table th {
  display: none;
}

table th,
table td {
  margin: .5rem 2rem;
  text-align: left;
}

table td {
  display: block;
  font-size: 90%;
}

table td:first-child {
  padding-top: 1rem;
}

table td:last-child {
  padding-bottom: 1rem;
}

table td:before {
  content: attr(data-th) ':\00a0';
  font-weight: bold;
  min-width: 8rem;
  display: inline-block;
}

/* Media Query */
@media (min-width: 600px) {
  table td:before {
    display: none;
  }
  table th,
  table td {
    display: table-cell;
  }
  table th,
  table td,
  table td:first-child,
  table td:last-child {
    padding: 1.5rem 2rem;
  }
  table {
    width: 100%; /* Set width to 100% to fill the container */
    max-width: 100%; /* Maximum width of table is the container width */
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevents text from wrapping in cells */
  }
}

/* Button */
button {
  /* Your existing button styles */
}

/* Error Page */
#error {
  /* Your existing error page styles */
}

/*
Error Page Style From: https://codepen.io/akashrajendra/pen/JKKRvQ
*/

#error{
    font-family: 'Lato', sans-serif;
  color: #888;
  margin: 0;
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.fof{
    display: table-cell;
    vertical-align: middle;
}

.fof h1{
    font-size: 50px;
    display: inline-block;
    padding-right: 12px;
}

/* 
Button Style From: https://codepen.io/wilder_taype/pen/LeoQEb
*/

button {
  display: block;
  border-radius: 3px;
  margin: 15px 5px;
  color: #fff;
  cursor: pointer;
  box-shadow: 3px 7px 7px 4px rgba(237,80,83,.5), 1px 0 0 rgba(0,0,0,.15);
  background: #ed5053;
  padding: 20px;
  flex-grow: 1;
  width: 100px;
  border: none;
  font-size: 1.6rem;
  line-height: 1.6;
}


.summary-statistics-heading td {
  background-color: #333; /* Darker background for the heading */
  color: #fff; /* Light text for contrast */
  font-weight: bold; /* Bold text */
  text-align: center; /* Center the text */
}